.container {
	width: 700px;
	margin: 0 auto;
	background-color: beige;
}

.card-white{
	background: white;
	padding:  20px;
	margin: 16px;
	border-radius: 6px;
	box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.3);
	text-align: center;
}

#card-name{
	font-size: 54px;
}

.card-name h2 {
	color: blue;
}

#img-card{
	background-image: linear-gradient(-220deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.2) 50%), url("images/image.jpg");
	color: white;
	background-size: cover;
	background-position: center ;
}

#contact{
	background: white;
	padding:  10px;
	margin: 20px;
	border-radius: 6px;
	box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.3);
	text-align: center;
}

img{
	width: 160px;
	height: 160px;
	border-radius: 110px;
}


a{
	text-decoration: none;
}
a:hover {
	color: hotpink;
}

/*média queries*/

@media (max-width:720px){
	.container{
		background-color: blue;
	}
}

@media (max-width:900px){
	.container{
		width: 250px;
	}
}

.btn-blue {
	background-color: green;
	color:  white;
	padding: 10px 24px;
	border-radius: 6px;
	font-weight: bolder;
}

.btn-green{
	color: blue;
	padding: 5px 10px;
	border-radius: 6px;
	font-weight: bolder;
	font-size: 32px;
}

li {
	display: inline;
}

ul {
	padding: 0;
}









